@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/animations' as *;

.sysreq {
  position: relative;
  padding-top: 3rem;
  max-width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      33.26% 45% at 64.32% 47.1%,
      rgba(255, 255, 255, 0) 3.36%,
      rgba(0, 0, 0, 0) 19.22%,
      #000 99.74%
    ),
    url(../../images/requirements-edit.png);
  @include media-breakpoint-down(lg) {
    background-image: radial-gradient(
        33.26% 45% at 64.32% 47.1%,
        rgba(0, 0, 0, 0.7) 40.22%,
        #000 99.74%
      ),
      url(../../images/requirements-edit.png);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  &-question {
    @include smText;
  }

  &-info {
    margin-top: 4rem;
    @include media-breakpoint-down(sm) {
      margin-top: 0rem;
    }
    &__title {
      @include titleText;
      @include media-breakpoint-down(md) {
        text-align: center;
        font-size: 2.7rem;
        line-height: 2.7rem;
      }
      @include media-breakpoint-down(sm) {
        text-align: center;
        font-size: 2.5rem;
        line-height: 2.7rem;
      }
      @include media-breakpoint-down(features-1) {
        text-align: center;
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
      @include media-breakpoint-down(moto-g4) {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.5rem;
      }
    }
    &__table {
      margin: 1.5rem 0;
      display: grid;
      grid-template: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        'os processor'
        'memory storage'
        'graphics graphics';
      @include media-breakpoint-down(sm) {
        margin: 1rem 0 0;
        grid-template: 1fr;
        grid-template-areas:
          'os'
          'processor'
          'memory'
          'storage'
          'graphics';
      }
      &--title {
        @include subtitleText;
        color: #ffb548;
        @include media-breakpoint-down(sm) {
          font-size: 20px;
        }
      }
      &--subtitle {
        margin-top: 0.5rem;
        font-family: Open Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        color: $white;
        // @include media-breakpoint-down(md) {
        //   margin-top: 0rem;
        //   line-height: 18px;
        //   font-size: 1rem;
        // }
        @include media-breakpoint-down(sm) {
          margin-top: 0rem;
          line-height: 18px;
          font-size: 0.8rem;
        }
      }
      &--os {
        grid-area: os;
      }
      &--processor {
        grid-area: processor;
      }
      &--memory {
        grid-area: memory;
      }
      &--storage {
        grid-area: storage;
      }
      &--graphics {
        grid-area: graphics;
        .sysreq-info__table--subtitle {
          padding-bottom: 2rem !important;
          @include media-breakpoint-down(moto-g4) {
            padding-bottom: 1rem !important;
          }
        }
        border-image-source: url(../../images/vector-table.svg) !important;
        border-image-slice: 40 !important;
        border-image-width: 40 !important;
        border-image-repeat: round;
      }
      > div {
        padding: 1rem 1rem 2rem;
        border: 1px solid #4b4b4b;
        @include media-breakpoint-down(sm) {
          padding: 0.5rem;
        }
        @include media-breakpoint-down(moto-g4) {
          padding: 0.2rem;
        }
      }
    }
  }
}
