@use '../custom' as *;
@use '../components/mixins' as *;
@use '../components/animations' as *;

.top-score {
  position: relative;
  padding-top: 3rem;
  max-width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      70.52% 37.27% at 24.21% 47.47%,
      rgba(35, 15, 15, 0) 0%,
      rgba(0, 0, 0, 0) 50.1%,
      #020202 99%
    ),
    url(../../images/top-score-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

  &__info {
    max-width: 35rem;
    margin-right: 2rem;
    @include media-breakpoint-down(md) {
      text-align: center;
      width: 100%;
    }
    &--title {
      @include titleText;
      @include media-breakpoint-down(md) {
        text-align: center;
        font-size: 2.7rem;
        line-height: 2.7rem;
      }
      @include media-breakpoint-down(sm) {
        text-align: center;
        font-size: 2.5rem;
        line-height: 2.7rem;
      }
      @include media-breakpoint-down(features-1) {
        text-align: center;
        font-size: 1.8rem;
        line-height: 2.2rem;
      }
    }
    &--subtitle {
      font-family: Open Sans;
      font-size: 18px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: left;
      @include media-breakpoint-down(md) {
        text-align: center;
      }
    }
  }
  .card-container {
    width: 100%;
    height: auto;
    @include media-breakpoint-down(md) {
      margin-top: 1rem;
    }
    .card-item {
      width: 100%;
      @include media-breakpoint-up(lg) {
        width: 80%;
      }
      background: #ffffff14;
      min-height: 183px;
      border-radius: 10px;
      padding: 1.5rem;
      @include media-breakpoint-down(sm) {
        padding: 1rem;
      }
      margin-bottom: 1.5rem;
      position: relative;
      &__header {
        // background: $yellow;
        @include flexRowCenter;
        justify-content: start;
        &--photo {
          position: relative;
          margin-right: 1.5rem;
          img {
            width: 65px;
            height: 65px;
            border-radius: 50%;
          }
          &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 8px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            background: $primary;
            z-index: -1;
          }
        }
        &--profile {
          &--name {
            font-family: Arial;
            font-size: 24px;
            font-weight: 400;
            line-height: 28px;
            letter-spacing: 2px;
            color: $primary;
          }
          &--job {
            font-family: Open Sans;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0px;
            color: rgba($white, $alpha: 0.5);
          }
        }
      }

      &__twitter {
        position: absolute;
        top: 2rem;
        right: 1.5rem;
        .twitter-icon {
          color: rgba($white, $alpha: 0.3);
        }
      }
      &__info {
        margin-top: 1.2rem;
        &--desc {
          font-family: Open Sans;
          font-size: 18px;
          font-weight: 400;
          line-height: 25px;
          letter-spacing: 0px;
        }
        &--date {
          margin-top: 0.7rem;
          font-family: Open Sans;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0px;
          color: rgba($white, $alpha: 0.5);
        }
      }

      // HOVER ANIMATION
      transform: scale(1);
      opacity: 1;
      transition: all 150ms ease-in-out;
    }
    &:hover > .card-item:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba($color: $black, $alpha: 0.5);
      z-index: 10;
    }
    &:hover > .card-item:not(:hover) {
      opacity: 0.5;
    }
  }
}
